.heading {
    color: white;
    background-color: salmon;
}

.summary {
    color: darkgreen;
    background-color: lightgreen;
}

.ingredients {
    color: blue;
    background-color: lightskyblue;
}

.directions {
    color: darkorchid;
    background-color: palevioletred;
}

.copyright {
    color: orangered;
    background-color: orange;
}